/oh_modules
/hvigor
/.hvigor
/.idea
/build
/entry/build
/entry/.cxx
/entry/oh_modules
/node_modules
/local.properties
*.log
/phase0/*.log
/keystore
/distribution/*.zip
*.hap
/entry/src/main/ets/lib/config.private.ets
/distribution/*.hap
*.hap
/.codegenie
